aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0.5;
    background-color: #ffffff;
    max-width: 320px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    padding: 30px 20px;
    max-height: 420px;
    min-width: 300px;
}

aside h1 {
    font-size: 20px;
    text-align: center;
    color: #333;
    display: block;
}

aside form {
    margin-top: 30px;
    width: 100%;
}

button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background-color: 	#e32929;
    color: #ffffff;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s;
}

button[type=submit]:hover {
    background: #813531;
}

.app {
    display: flex;
    flex-direction: row;
    margin: 60px 65px;
}

main {
    margin-left: 30px;
    width: 65vw;
}

main ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
}

